<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Page</title>
</head>

<body>
    <p style="color: red;"><%= msg %></p>
    <h1>Enter OTP</h1>
    <form action="/register/otp" method="post" enctype="multipart/form-data">
        <label for="otp">OTP: </label>
        <input type="text" name="otp" id="otp" required maxlength="4">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>