<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add attendance</title>
</head>
<body>
    <p><%= msg %></p>
    <form action="/attendance/add" method="post">
        <input type="text" name="name" id="" placeholder="Attendance Name" required minlength="3" maxlength="30">
        <input type="text" name="Bio" id="" placeholder="About Attendance" required minlength="3" maxlength="30">
        
        <button type="submit">Add</button>
    </form>
</body>
</html>